node_modules/      # Ignorar pacotes do Node.js
vendor/            # Ignorar pacotes do PHP (Composer)
dist/              # Ignorar arquivos de build
lib/.env               # Ignorar variáveis de ambiente (senhas, chaves)
layout/
upload/